body {
    font-family: Verdana, sans-serif;
    background: rgb(255,235,210);
}

h1 {

  font-size: 36px;
  text-align: center;
}

.menu {
  font-weight: bold;
  text-align: center;
  list-style-type: none;
}

.menu li {
  display: inline;
}

a {
  color:black;
  text-decoration: none;
  padding: 16px;
}

img {
  border: black 3px solid;
  width: 450px;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.back {
  border: red 2px solid;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50%;
}
