body {
    font-family: Verdana, sans-serif;
    background: rgb(255,235,210);
}

h1 {

  font-size: 36px;
  text-align: center;
}

ul {
  font-weight: bold;
  text-align: center;
  list-style-type: none;
}

li {
  display: inline;
}

a {
  color:black;
  text-decoration: none;
  padding: 16px;
}
